# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
*	text=auto	eol=lf

# Make GitHub's language statistics treat the `*.conf` files as
# Nginx configuration files
# https://github.com/github/linguist/blob/master/README.md

nginx/** text eol=lf linguist-language=Nginx linguist-detectable=true
